extends ../layouts/application.pug

block header
  = t('views.label.new.title')

block content
  +formFor()(action=route('labels') method='post')
    +input(label, 'name', errors)(type="text")
    +submit(label)(value=t('views.label.new.submit'))
